PORT = # Num. Puerto del Server
HOST = #host address
DB_NAME= #name of the DB
DB_HOST = # host de la base de datos | localhost
DB_PORT = # Puerto de conexión con la DB
DB_USERNAME = # Username de la DB
DB_PASSWORD = # Password de la DB

CLOUDINARY_CLOUD_NAME = # Cloudinary cloud name
CLOUDINARY_API_KEY = # cloudinary API key
CLOUDINARY_API_SECRET = # cloudinary API secret

JWT_SECRET = # Clave secreta para JWT

POSTGRES_DB = # Nombre de la DB en postgres
POSTGRES_PASSWORD = # contraseña para postgres