SUPABASE_URL=https://vgmjzxqphqkucrulyzeu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnbWp6eHFwaHFrdWNydWx5emV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4NDI5MzQsImV4cCI6MjA5NTQxODkzNH0.26MM8B9jFhbG8f6m-IMTlUNffFG7cCg5dno63NixtGU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnbWp6eHFwaHFrdWNydWx5emV1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTg0MjkzNCwiZXhwIjoyMDk1NDE4OTM0fQ.zvAWqyU5NDiN4Dj8MgjJYLb8SslLoKulPd6mTwq643Q
PORT = # Num. Puerto del Server
HOST = #host address
DB_NAME= #name of the DB
DB_HOST = # host de la base de datos | localhost
DB_PORT = # Puerto de conexión con la DB
DB_USERNAME = # Username de la DB
DB_PASSWORD = # Password de la DB

CLOUDINARY_CLOUD_NAME = # Cloudinary cloud name
CLOUDINARY_API_KEY = # cloudinary API key
CLOUDINARY_API_SECRET = # cloudinary API secret

JWT_SECRET = # Clave secreta para JWT
