PORT=3000
SUPABASE_URL=https://vgmjzxqphqkucrulyzeu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnbWp6eHFwaHFrdWNydWx5emV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4NDI5MzQsImV4cCI6MjA5NTQxODkzNH0.26MM8B9jFhbG8f6m-IMTlUNffFG7cCg5dno63NixtGU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnbWp6eHFwaHFrdWNydWx5emV1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTg0MjkzNCwiZXhwIjoyMDk1NDE4OTM0fQ.zvAWqyU5NDiN4Dj8MgjJYLb8SslLoKulPd6mTwq643Q
FRONTEND_URL=http://localhost:3002

DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USERNAME=postgres.vgmjzxqphqkucrulyzeu
DB_PASSWORD=PkdZ8UJHFq5p7Mzm

CLOUDINARY_CLOUD_NAME = ddsubvh5v
CLOUDINARY_API_KEY = 517356252682436
CLOUDINARY_API_SECRET = Y7Kmv-yDQwyLlvycE_8ng6LExjM

JWT_SECRET = boletoclick-secret-dev-2024

BREVO_API_KEY=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
BREVO_SENDER_EMAIL=henrypf2026@gmail.com
